--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE devdb;




--
-- Drop roles
--

DROP ROLE devuser;


--
-- Roles
--

CREATE ROLE devuser;
ALTER ROLE devuser WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:hsoVxGAkuaJiIWvQHIqfVA==$P0W8BXJGBMhVBWfPhi4Zkyg3BxYrOZIXMcs2BYIl+lg=:wDflqVssvGV2VFyHEcikKldfT9GjPa+lwtCE9+v2uAQ=';

--
-- User Configurations
--








--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: devuser
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO devuser;

\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: devuser
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: devuser
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: devuser
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

--
-- Database "devdb" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: devdb; Type: DATABASE; Schema: -; Owner: devuser
--

CREATE DATABASE devdb WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE devdb OWNER TO devuser;

\connect devdb

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Appointment; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."Appointment" (
    id bigint NOT NULL,
    date date NOT NULL,
    "time" time without time zone NOT NULL,
    status character varying(20) NOT NULL,
    service_id bigint NOT NULL
);


ALTER TABLE public."Appointment" OWNER TO devuser;

--
-- Name: Appointment_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."Appointment" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Appointment_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Car; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."Car" (
    id bigint NOT NULL,
    is_available boolean NOT NULL,
    reg_no character varying(15) NOT NULL,
    is_default boolean NOT NULL,
    predefined_car_id bigint NOT NULL,
    customer_id bigint NOT NULL
);


ALTER TABLE public."Car" OWNER TO devuser;

--
-- Name: CarHealth; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."CarHealth" (
    id bigint NOT NULL,
    odometer integer NOT NULL,
    battery integer NOT NULL,
    tires integer NOT NULL,
    "oilLevel" integer NOT NULL,
    "brakePads" integer NOT NULL,
    "airFilter" integer NOT NULL,
    car_id bigint NOT NULL,
    last_updated timestamp with time zone NOT NULL
);


ALTER TABLE public."CarHealth" OWNER TO devuser;

--
-- Name: CarHealth_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."CarHealth" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."CarHealth_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Car_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."Car" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Car_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Customer; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."Customer" (
    user_id bigint NOT NULL
);


ALTER TABLE public."Customer" OWNER TO devuser;

--
-- Name: Manager; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."Manager" (
    user_id bigint NOT NULL
);


ALTER TABLE public."Manager" OWNER TO devuser;

--
-- Name: Mechanic; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."Mechanic" (
    user_id bigint NOT NULL,
    current_workload integer NOT NULL,
    is_available boolean NOT NULL
);


ALTER TABLE public."Mechanic" OWNER TO devuser;

--
-- Name: Part; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."Part" (
    id bigint NOT NULL,
    price numeric(10,2) NOT NULL,
    predefined_car_id bigint NOT NULL,
    predefined_part_id bigint NOT NULL
);


ALTER TABLE public."Part" OWNER TO devuser;

--
-- Name: Part_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."Part" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Part_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PredefinedCar; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."PredefinedCar" (
    id bigint NOT NULL,
    make character varying(50) NOT NULL,
    model character varying(50) NOT NULL,
    year integer NOT NULL,
    image character varying(100)
);


ALTER TABLE public."PredefinedCar" OWNER TO devuser;

--
-- Name: PredefinedCar_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."PredefinedCar" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PredefinedCar_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PredefinedPart; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."PredefinedPart" (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description character varying(300) NOT NULL,
    service_type_id bigint NOT NULL
);


ALTER TABLE public."PredefinedPart" OWNER TO devuser;

--
-- Name: PredefinedPart_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."PredefinedPart" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PredefinedPart_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: PredefinedTask; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."PredefinedTask" (
    id bigint NOT NULL,
    description text NOT NULL,
    service_type_id bigint NOT NULL
);


ALTER TABLE public."PredefinedTask" OWNER TO devuser;

--
-- Name: PredefinedTask_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."PredefinedTask" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."PredefinedTask_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Quote; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."Quote" (
    id bigint NOT NULL,
    labor_fees numeric(10,2) NOT NULL,
    tax numeric(10,2) NOT NULL,
    status character varying(50) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    service_id bigint NOT NULL
);


ALTER TABLE public."Quote" OWNER TO devuser;

--
-- Name: QuotePart; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."QuotePart" (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    part_id bigint NOT NULL,
    quote_id bigint NOT NULL
);


ALTER TABLE public."QuotePart" OWNER TO devuser;

--
-- Name: QuotePart_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."QuotePart" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."QuotePart_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Quote_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."Quote" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Quote_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Service; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."Service" (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    date date NOT NULL,
    car_id bigint NOT NULL,
    service_type_id bigint NOT NULL
);


ALTER TABLE public."Service" OWNER TO devuser;

--
-- Name: ServiceType; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."ServiceType" (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    labour_cost numeric(10,2) NOT NULL
);


ALTER TABLE public."ServiceType" OWNER TO devuser;

--
-- Name: ServiceType_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."ServiceType" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ServiceType_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Service_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."Service" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Service_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: skill; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.skill (
    id bigint NOT NULL,
    vehicle_part character varying(100) NOT NULL,
    steps jsonb NOT NULL,
    vehicle_id bigint NOT NULL
);


ALTER TABLE public.skill OWNER TO devuser;

--
-- Name: Skill_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.skill ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Skill_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Task; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."Task" (
    id bigint NOT NULL,
    description text NOT NULL,
    status character varying(20) NOT NULL,
    service_id bigint NOT NULL,
    service_type_id bigint NOT NULL,
    assigned_to_id bigint NOT NULL
);


ALTER TABLE public."Task" OWNER TO devuser;

--
-- Name: Task_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."Task" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Task_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: User; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public."User" (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    surname character varying(100) NOT NULL,
    phone character varying(20),
    email character varying(254) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    street_address character varying(255) NOT NULL,
    city character varying(100) NOT NULL,
    postal_code character varying(20) NOT NULL
);


ALTER TABLE public."User" OWNER TO devuser;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public."User" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."User_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO devuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO devuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO devuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO devuser;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO devuser;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO devuser;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_invoice; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_invoice (
    id bigint NOT NULL,
    labor_fees numeric(10,2) NOT NULL,
    tax numeric(10,2) NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    service_id bigint NOT NULL,
    date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.core_invoice OWNER TO devuser;

--
-- Name: core_invoice_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.core_invoice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_invoice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_partinvoice; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_partinvoice (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    invoice_id bigint NOT NULL,
    part_id bigint NOT NULL
);


ALTER TABLE public.core_partinvoice OWNER TO devuser;

--
-- Name: core_partinvoice_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.core_partinvoice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_partinvoice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_taskreport; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_taskreport (
    id bigint NOT NULL,
    "Comments" text NOT NULL,
    "Images" character varying(100),
    status boolean NOT NULL,
    date_completed timestamp with time zone NOT NULL,
    task_id bigint NOT NULL
);


ALTER TABLE public.core_taskreport OWNER TO devuser;

--
-- Name: core_taskreport_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.core_taskreport ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_taskreport_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO devuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO devuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO devuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO devuser;

--
-- Name: service_report; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.service_report (
    id bigint NOT NULL,
    last_updated timestamp with time zone NOT NULL,
    service_id bigint NOT NULL
);


ALTER TABLE public.service_report OWNER TO devuser;

--
-- Name: service_report_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.service_report ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.service_report_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: service_report_task_reports; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.service_report_task_reports (
    id bigint NOT NULL,
    servicereport_id bigint NOT NULL,
    taskreport_id bigint NOT NULL
);


ALTER TABLE public.service_report_task_reports OWNER TO devuser;

--
-- Name: service_report_task_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

ALTER TABLE public.service_report_task_reports ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.service_report_task_reports_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: Appointment; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: Car; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public."Car" (id, is_available, reg_no, is_default, predefined_car_id, customer_id) FROM stdin;
3	t	AB43RFMP	t	24	4
4	t	56ABGP	t	37	5
5	t	45FD46GP	t	129	6
6	t	46ADMP	t	38	8
7	t	66GFTGP	t	69	9
2	t	JJ34DFGP	f	32	2
1	t	SD45GP	t	68	2
9	t	csy527gp	t	61	11
10	t	bm16fggp	f	41	11
8	t	66AGGP	f	106	10
11	t	56GFGP	t	129	10
12	t	SA45EYFS	t	30	12
13	t	54FGTRLP	t	111	13
14	t	AD23FFFS	t	37	14
\.


--
-- Data for Name: CarHealth; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public."Customer" (user_id) FROM stdin;
2
4
5
6
8
9
10
11
12
13
14
\.


--
-- Data for Name: Manager; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public."Manager" (user_id) FROM stdin;
1
\.


--
-- Data for Name: Mechanic; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public."Mechanic" (user_id, current_workload, is_available) FROM stdin;
3	-26	t
7	-1	t
\.


--
-- Data for Name: Part; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: PredefinedCar; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: PredefinedPart; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: PredefinedTask; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: Quote; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: QuotePart; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: Service; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: ServiceType; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public."ServiceType" (id, name, description, labour_cost) FROM stdin;
1	Maintenance Service	General maintenance and checkup	1000.00
2	Oil Change	Change engine oil and filter	300.00
3	Health Check	Comprehensive vehicle health check	400.00
4	Battery Replacement	Replace car battery	350.00
5	Air Conditioning Service	Service air conditioning system	450.00
6	Brake Service	Replace brake pads and inspect brake system	500.00
7	Wheel Service	Wheel alignment and balancing	600.00
8	Tire Rotation	Rotate tires for even wear	250.00
\.


--
-- Data for Name: Task; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: core_invoice; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: core_partinvoice; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: core_taskreport; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: service_report; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.service_report (id, last_updated, service_id) FROM stdin;
1	2024-09-17 12:46:41.884032+00	58
2	2024-09-17 13:06:29.99784+00	59
3	2024-09-17 21:49:35.143801+00	60
4	2024-09-17 22:36:34.886303+00	61
5	2024-09-23 18:40:41.073619+00	62
6	2024-09-23 23:26:25.323394+00	63
7	2024-09-23 23:44:49.355519+00	64
8	2024-09-24 12:56:14.423508+00	65
\.


--
-- Data for Name: service_report_task_reports; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.service_report_task_reports (id, servicereport_id, taskreport_id) FROM stdin;
1	1	1
2	1	2
3	1	3
4	1	4
5	1	5
6	1	6
7	1	7
8	1	8
9	2	9
10	3	10
11	3	11
12	3	12
13	3	13
14	3	14
15	8	21
16	8	22
17	8	23
\.


--
-- Data for Name: skill; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.skill (id, vehicle_part, steps, vehicle_id) FROM stdin;
\.


--
-- Name: Appointment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."Appointment_id_seq"', 54, true);


--
-- Name: CarHealth_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."CarHealth_id_seq"', 14, true);


--
-- Name: Car_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."Car_id_seq"', 14, true);


--
-- Name: Part_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."Part_id_seq"', 3000, true);


--
-- Name: PredefinedCar_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."PredefinedCar_id_seq"', 150, true);


--
-- Name: PredefinedPart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."PredefinedPart_id_seq"', 20, true);


--
-- Name: PredefinedTask_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."PredefinedTask_id_seq"', 30, true);


--
-- Name: QuotePart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."QuotePart_id_seq"', 157, true);


--
-- Name: Quote_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."Quote_id_seq"', 65, true);


--
-- Name: ServiceType_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."ServiceType_id_seq"', 8, true);


--
-- Name: Service_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."Service_id_seq"', 65, true);


--
-- Name: Skill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."Skill_id_seq"', 1, false);


--
-- Name: Task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."Task_id_seq"', 157, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public."User_id_seq"', 14, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 116, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: core_invoice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_invoice_id_seq', 42, true);


--
-- Name: core_partinvoice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_partinvoice_id_seq', 76, true);


--
-- Name: core_taskreport_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_taskreport_id_seq', 23, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 29, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 27, true);


--
-- Name: service_report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.service_report_id_seq', 8, true);


--
-- Name: service_report_task_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.service_report_task_reports_id_seq', 17, true);


--
-- Name: Appointment Appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_pkey" PRIMARY KEY (id);


--
-- Name: CarHealth CarHealth_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."CarHealth"
    ADD CONSTRAINT "CarHealth_pkey" PRIMARY KEY (id);


--
-- Name: Car Car_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Car"
    ADD CONSTRAINT "Car_pkey" PRIMARY KEY (id);


--
-- Name: Car Car_reg_no_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Car"
    ADD CONSTRAINT "Car_reg_no_key" UNIQUE (reg_no);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (user_id);


--
-- Name: Manager Manager_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Manager"
    ADD CONSTRAINT "Manager_pkey" PRIMARY KEY (user_id);


--
-- Name: Mechanic Mechanic_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Mechanic"
    ADD CONSTRAINT "Mechanic_pkey" PRIMARY KEY (user_id);


--
-- Name: Part Part_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Part"
    ADD CONSTRAINT "Part_pkey" PRIMARY KEY (id);


--
-- Name: Part Part_predefined_car_id_predefined_part_id_3955b7b8_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Part"
    ADD CONSTRAINT "Part_predefined_car_id_predefined_part_id_3955b7b8_uniq" UNIQUE (predefined_car_id, predefined_part_id);


--
-- Name: PredefinedCar PredefinedCar_make_model_year_132e70f9_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."PredefinedCar"
    ADD CONSTRAINT "PredefinedCar_make_model_year_132e70f9_uniq" UNIQUE (make, model, year);


--
-- Name: PredefinedCar PredefinedCar_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."PredefinedCar"
    ADD CONSTRAINT "PredefinedCar_pkey" PRIMARY KEY (id);


--
-- Name: PredefinedPart PredefinedPart_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."PredefinedPart"
    ADD CONSTRAINT "PredefinedPart_pkey" PRIMARY KEY (id);


--
-- Name: PredefinedTask PredefinedTask_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."PredefinedTask"
    ADD CONSTRAINT "PredefinedTask_pkey" PRIMARY KEY (id);


--
-- Name: QuotePart QuotePart_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."QuotePart"
    ADD CONSTRAINT "QuotePart_pkey" PRIMARY KEY (id);


--
-- Name: QuotePart QuotePart_quote_id_part_id_c0a11f92_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."QuotePart"
    ADD CONSTRAINT "QuotePart_quote_id_part_id_c0a11f92_uniq" UNIQUE (quote_id, part_id);


--
-- Name: Quote Quote_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_pkey" PRIMARY KEY (id);


--
-- Name: Quote Quote_service_id_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_service_id_key" UNIQUE (service_id);


--
-- Name: ServiceType ServiceType_name_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."ServiceType"
    ADD CONSTRAINT "ServiceType_name_key" UNIQUE (name);


--
-- Name: ServiceType ServiceType_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."ServiceType"
    ADD CONSTRAINT "ServiceType_pkey" PRIMARY KEY (id);


--
-- Name: Service Service_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_pkey" PRIMARY KEY (id);


--
-- Name: skill Skill_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.skill
    ADD CONSTRAINT "Skill_pkey" PRIMARY KEY (id);


--
-- Name: Task Task_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_pkey" PRIMARY KEY (id);


--
-- Name: User User_email_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_email_key" UNIQUE (email);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: core_invoice core_invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_invoice
    ADD CONSTRAINT core_invoice_pkey PRIMARY KEY (id);


--
-- Name: core_invoice core_invoice_service_id_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_invoice
    ADD CONSTRAINT core_invoice_service_id_key UNIQUE (service_id);


--
-- Name: core_partinvoice core_partinvoice_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_partinvoice
    ADD CONSTRAINT core_partinvoice_pkey PRIMARY KEY (id);


--
-- Name: core_taskreport core_taskreport_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_taskreport
    ADD CONSTRAINT core_taskreport_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: service_report service_report_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.service_report
    ADD CONSTRAINT service_report_pkey PRIMARY KEY (id);


--
-- Name: service_report_task_reports service_report_task_repo_servicereport_id_taskrep_110c6b54_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.service_report_task_reports
    ADD CONSTRAINT service_report_task_repo_servicereport_id_taskrep_110c6b54_uniq UNIQUE (servicereport_id, taskreport_id);


--
-- Name: service_report_task_reports service_report_task_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.service_report_task_reports
    ADD CONSTRAINT service_report_task_reports_pkey PRIMARY KEY (id);


--
-- Name: Appointment_date_a7371d_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Appointment_date_a7371d_idx" ON public."Appointment" USING btree (date);


--
-- Name: Appointment_service_850688_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Appointment_service_850688_idx" ON public."Appointment" USING btree (service_id);


--
-- Name: Appointment_service_id_cbd520b1; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Appointment_service_id_cbd520b1" ON public."Appointment" USING btree (service_id);


--
-- Name: Appointment_time_ad47b9_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Appointment_time_ad47b9_idx" ON public."Appointment" USING btree ("time");


--
-- Name: CarHealth_car_id_763b217a; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "CarHealth_car_id_763b217a" ON public."CarHealth" USING btree (car_id);


--
-- Name: CarHealth_car_id_db30fb_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "CarHealth_car_id_db30fb_idx" ON public."CarHealth" USING btree (car_id);


--
-- Name: Car_custome_bd2bc5_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Car_custome_bd2bc5_idx" ON public."Car" USING btree (customer_id);


--
-- Name: Car_customer_id_03d27244; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Car_customer_id_03d27244" ON public."Car" USING btree (customer_id);


--
-- Name: Car_predefi_41fa79_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Car_predefi_41fa79_idx" ON public."Car" USING btree (predefined_car_id);


--
-- Name: Car_predefined_car_id_dadc22a7; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Car_predefined_car_id_dadc22a7" ON public."Car" USING btree (predefined_car_id);


--
-- Name: Car_reg_no_0cfd4c1c_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Car_reg_no_0cfd4c1c_like" ON public."Car" USING btree (reg_no varchar_pattern_ops);


--
-- Name: Customer_user_id_7876b0_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Customer_user_id_7876b0_idx" ON public."Customer" USING btree (user_id);


--
-- Name: Manager_user_id_ad79e9_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Manager_user_id_ad79e9_idx" ON public."Manager" USING btree (user_id);


--
-- Name: Mechanic_user_id_74ac76_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Mechanic_user_id_74ac76_idx" ON public."Mechanic" USING btree (user_id);


--
-- Name: Part_predefi_82242e_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Part_predefi_82242e_idx" ON public."Part" USING btree (predefined_car_id);


--
-- Name: Part_predefi_f562af_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Part_predefi_f562af_idx" ON public."Part" USING btree (predefined_part_id);


--
-- Name: Part_predefined_car_id_18f38d4b; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Part_predefined_car_id_18f38d4b" ON public."Part" USING btree (predefined_car_id);


--
-- Name: Part_predefined_part_id_3b22c5c5; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Part_predefined_part_id_3b22c5c5" ON public."Part" USING btree (predefined_part_id);


--
-- Name: PredefinedC_make_77b5ae_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "PredefinedC_make_77b5ae_idx" ON public."PredefinedCar" USING btree (make, model, year);


--
-- Name: PredefinedP_name_26a3d5_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "PredefinedP_name_26a3d5_idx" ON public."PredefinedPart" USING btree (name);


--
-- Name: PredefinedPart_service_type_id_9584a7e7; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "PredefinedPart_service_type_id_9584a7e7" ON public."PredefinedPart" USING btree (service_type_id);


--
-- Name: PredefinedT_service_ba7cc1_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "PredefinedT_service_ba7cc1_idx" ON public."PredefinedTask" USING btree (service_type_id);


--
-- Name: PredefinedTask_service_type_id_e2aaaeec; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "PredefinedTask_service_type_id_e2aaaeec" ON public."PredefinedTask" USING btree (service_type_id);


--
-- Name: QuotePart_part_id_723f82b8; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "QuotePart_part_id_723f82b8" ON public."QuotePart" USING btree (part_id);


--
-- Name: QuotePart_part_id_ef26f0_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "QuotePart_part_id_ef26f0_idx" ON public."QuotePart" USING btree (part_id);


--
-- Name: QuotePart_quote_i_11a1da_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "QuotePart_quote_i_11a1da_idx" ON public."QuotePart" USING btree (quote_id);


--
-- Name: QuotePart_quote_id_5800123f; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "QuotePart_quote_id_5800123f" ON public."QuotePart" USING btree (quote_id);


--
-- Name: Quote_service_d29ce8_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Quote_service_d29ce8_idx" ON public."Quote" USING btree (service_id);


--
-- Name: ServiceType_name_335dbb_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "ServiceType_name_335dbb_idx" ON public."ServiceType" USING btree (name);


--
-- Name: ServiceType_name_7db0920e_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "ServiceType_name_7db0920e_like" ON public."ServiceType" USING btree (name varchar_pattern_ops);


--
-- Name: Service_car_id_1d89c25c; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Service_car_id_1d89c25c" ON public."Service" USING btree (car_id);


--
-- Name: Service_car_id_4dda5a_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Service_car_id_4dda5a_idx" ON public."Service" USING btree (car_id);


--
-- Name: Service_service_3035f4_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Service_service_3035f4_idx" ON public."Service" USING btree (service_type_id);


--
-- Name: Service_service_type_id_8705bfdb; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Service_service_type_id_8705bfdb" ON public."Service" USING btree (service_type_id);


--
-- Name: Service_status_058ef6_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Service_status_058ef6_idx" ON public."Service" USING btree (status);


--
-- Name: Skill_vehicle_id_eafb7543; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Skill_vehicle_id_eafb7543" ON public.skill USING btree (vehicle_id);


--
-- Name: Task_assigne_cb1d91_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Task_assigne_cb1d91_idx" ON public."Task" USING btree (assigned_to_id);


--
-- Name: Task_assigned_to_id_b33ea3f6; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Task_assigned_to_id_b33ea3f6" ON public."Task" USING btree (assigned_to_id);


--
-- Name: Task_service_c5e5be_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Task_service_c5e5be_idx" ON public."Task" USING btree (service_id);


--
-- Name: Task_service_id_c2242849; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Task_service_id_c2242849" ON public."Task" USING btree (service_id);


--
-- Name: Task_service_type_id_e2c6fa8e; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Task_service_type_id_e2c6fa8e" ON public."Task" USING btree (service_type_id);


--
-- Name: Task_status_a97274_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "Task_status_a97274_idx" ON public."Task" USING btree (status);


--
-- Name: User_email_667201b5_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "User_email_667201b5_like" ON public."User" USING btree (email varchar_pattern_ops);


--
-- Name: User_email_ffa2e0_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "User_email_ffa2e0_idx" ON public."User" USING btree (email);


--
-- Name: User_role_93b446_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "User_role_93b446_idx" ON public."User" USING btree (role);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: core_partinvoice_invoice_id_4f3373f2; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_partinvoice_invoice_id_4f3373f2 ON public.core_partinvoice USING btree (invoice_id);


--
-- Name: core_partinvoice_part_id_bb2683fd; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_partinvoice_part_id_bb2683fd ON public.core_partinvoice USING btree (part_id);


--
-- Name: core_taskreport_task_id_0ec72569; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_taskreport_task_id_0ec72569 ON public.core_taskreport USING btree (task_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: service_rep_service_a32aea_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX service_rep_service_a32aea_idx ON public.service_report USING btree (service_id);


--
-- Name: service_report_service_id_4d375c5c; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX service_report_service_id_4d375c5c ON public.service_report USING btree (service_id);


--
-- Name: service_report_task_reports_servicereport_id_39a2199c; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX service_report_task_reports_servicereport_id_39a2199c ON public.service_report_task_reports USING btree (servicereport_id);


--
-- Name: service_report_task_reports_taskreport_id_f5e00fb9; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX service_report_task_reports_taskreport_id_f5e00fb9 ON public.service_report_task_reports USING btree (taskreport_id);


--
-- Name: skill_vehicle_7be2f2_idx; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX skill_vehicle_7be2f2_idx ON public.skill USING btree (vehicle_id);


--
-- Name: Appointment Appointment_service_id_cbd520b1_fk_Service_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_service_id_cbd520b1_fk_Service_id" FOREIGN KEY (service_id) REFERENCES public."Service"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: CarHealth CarHealth_car_id_763b217a_fk_Car_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."CarHealth"
    ADD CONSTRAINT "CarHealth_car_id_763b217a_fk_Car_id" FOREIGN KEY (car_id) REFERENCES public."Car"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Car Car_customer_id_03d27244_fk_Customer_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Car"
    ADD CONSTRAINT "Car_customer_id_03d27244_fk_Customer_user_id" FOREIGN KEY (customer_id) REFERENCES public."Customer"(user_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Car Car_predefined_car_id_dadc22a7_fk_PredefinedCar_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Car"
    ADD CONSTRAINT "Car_predefined_car_id_dadc22a7_fk_PredefinedCar_id" FOREIGN KEY (predefined_car_id) REFERENCES public."PredefinedCar"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Customer Customer_user_id_b3dbf5c1_fk_User_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_user_id_b3dbf5c1_fk_User_id" FOREIGN KEY (user_id) REFERENCES public."User"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Manager Manager_user_id_2b6e8814_fk_User_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Manager"
    ADD CONSTRAINT "Manager_user_id_2b6e8814_fk_User_id" FOREIGN KEY (user_id) REFERENCES public."User"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Mechanic Mechanic_user_id_d736d768_fk_User_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Mechanic"
    ADD CONSTRAINT "Mechanic_user_id_d736d768_fk_User_id" FOREIGN KEY (user_id) REFERENCES public."User"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Part Part_predefined_car_id_18f38d4b_fk_PredefinedCar_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Part"
    ADD CONSTRAINT "Part_predefined_car_id_18f38d4b_fk_PredefinedCar_id" FOREIGN KEY (predefined_car_id) REFERENCES public."PredefinedCar"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Part Part_predefined_part_id_3b22c5c5_fk_PredefinedPart_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Part"
    ADD CONSTRAINT "Part_predefined_part_id_3b22c5c5_fk_PredefinedPart_id" FOREIGN KEY (predefined_part_id) REFERENCES public."PredefinedPart"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: PredefinedPart PredefinedPart_service_type_id_9584a7e7_fk_ServiceType_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."PredefinedPart"
    ADD CONSTRAINT "PredefinedPart_service_type_id_9584a7e7_fk_ServiceType_id" FOREIGN KEY (service_type_id) REFERENCES public."ServiceType"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: PredefinedTask PredefinedTask_service_type_id_e2aaaeec_fk_ServiceType_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."PredefinedTask"
    ADD CONSTRAINT "PredefinedTask_service_type_id_e2aaaeec_fk_ServiceType_id" FOREIGN KEY (service_type_id) REFERENCES public."ServiceType"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: QuotePart QuotePart_part_id_723f82b8_fk_Part_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."QuotePart"
    ADD CONSTRAINT "QuotePart_part_id_723f82b8_fk_Part_id" FOREIGN KEY (part_id) REFERENCES public."Part"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: QuotePart QuotePart_quote_id_5800123f_fk_Quote_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."QuotePart"
    ADD CONSTRAINT "QuotePart_quote_id_5800123f_fk_Quote_id" FOREIGN KEY (quote_id) REFERENCES public."Quote"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Quote Quote_service_id_e580774f_fk_Service_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_service_id_e580774f_fk_Service_id" FOREIGN KEY (service_id) REFERENCES public."Service"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Service Service_car_id_1d89c25c_fk_Car_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_car_id_1d89c25c_fk_Car_id" FOREIGN KEY (car_id) REFERENCES public."Car"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Service Service_service_type_id_8705bfdb_fk_ServiceType_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_service_type_id_8705bfdb_fk_ServiceType_id" FOREIGN KEY (service_type_id) REFERENCES public."ServiceType"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: skill Skill_vehicle_id_eafb7543_fk_PredefinedCar_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.skill
    ADD CONSTRAINT "Skill_vehicle_id_eafb7543_fk_PredefinedCar_id" FOREIGN KEY (vehicle_id) REFERENCES public."PredefinedCar"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Task Task_assigned_to_id_b33ea3f6_fk_Mechanic_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_assigned_to_id_b33ea3f6_fk_Mechanic_user_id" FOREIGN KEY (assigned_to_id) REFERENCES public."Mechanic"(user_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Task Task_service_id_c2242849_fk_Service_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_service_id_c2242849_fk_Service_id" FOREIGN KEY (service_id) REFERENCES public."Service"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Task Task_service_type_id_e2c6fa8e_fk_ServiceType_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_service_type_id_e2c6fa8e_fk_ServiceType_id" FOREIGN KEY (service_type_id) REFERENCES public."ServiceType"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_invoice core_invoice_service_id_f662113e_fk_Service_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_invoice
    ADD CONSTRAINT "core_invoice_service_id_f662113e_fk_Service_id" FOREIGN KEY (service_id) REFERENCES public."Service"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_partinvoice core_partinvoice_invoice_id_4f3373f2_fk_core_invoice_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_partinvoice
    ADD CONSTRAINT core_partinvoice_invoice_id_4f3373f2_fk_core_invoice_id FOREIGN KEY (invoice_id) REFERENCES public.core_invoice(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_partinvoice core_partinvoice_part_id_bb2683fd_fk_Part_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_partinvoice
    ADD CONSTRAINT "core_partinvoice_part_id_bb2683fd_fk_Part_id" FOREIGN KEY (part_id) REFERENCES public."Part"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_taskreport core_taskreport_task_id_0ec72569_fk_Task_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_taskreport
    ADD CONSTRAINT "core_taskreport_task_id_0ec72569_fk_Task_id" FOREIGN KEY (task_id) REFERENCES public."Task"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: service_report service_report_service_id_4d375c5c_fk_Service_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.service_report
    ADD CONSTRAINT "service_report_service_id_4d375c5c_fk_Service_id" FOREIGN KEY (service_id) REFERENCES public."Service"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: service_report_task_reports service_report_task__servicereport_id_39a2199c_fk_service_r; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.service_report_task_reports
    ADD CONSTRAINT service_report_task__servicereport_id_39a2199c_fk_service_r FOREIGN KEY (servicereport_id) REFERENCES public.service_report(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: service_report_task_reports service_report_task__taskreport_id_f5e00fb9_fk_core_task; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.service_report_task_reports
    ADD CONSTRAINT service_report_task__taskreport_id_f5e00fb9_fk_core_task FOREIGN KEY (taskreport_id) REFERENCES public.core_taskreport(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: devuser
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO devuser;

\connect postgres

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: devuser
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

